html {
  font-size: 16px;
  font-family: "Raleway";
  color: rgba(0, 0, 0, 0.7);
}

/* Hide desktop only elements */
.header-desktop, .practice, .practice-image, .practice-text, .cards-desktop, .learning-desktop, .secondary, .video-text, footer nav {
  display: none;
}

/* General formatting styling */
  /* Background color */
  .gray-bg {
    background-color: silver;
  }

  /* Padding */
  .pad-top-2 {
    padding-top: 2rem;
  }

  .pad-bot-2 {
    padding-bottom: 2rem;
  }

  .pad-top-15 {
    padding-top: 1.5rem;
  }

  .pad-r-15 {
    padding-right: 1.5rem;
  }

  .pad-bot-15 {
    padding-bottom: 1.5rem;
  }

  .pad-l-15 {
    padding-left: 1.5rem;
  }

  .pad-top-1 {
    padding-top: 1rem;
  }

  .pad-r-1 {
    padding-right: 1rem;
  }

  .pad-bot-1 {
    padding-bottom: 1rem;
  }

  .pad-l-1 {
    padding-left: 1rem;
  }

  .pad-bot-5 {
    padding-bottom: 0.5rem;
  }

  /* Flex */
  .flex-horizontal {
    display: flex;
  }

  .flex-verticle {
    display: flex;
    flex-direction: column;
  }

  /* Text */
  h1 {
    font-size: 2.5rem;
    font-weight: bold;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .center {
    text-align: center;
  }

  .card-image img, .banner-image img, video {
    width: 100%;
  }

/* Header section styling */
.header-mobile {
  display: flex;
  justify-content: space-around;
  height: 4rem;
}

/* Banner section styling */

.banner a {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-weight: bold;
  padding: 0.5rem 0;
  display: block;
  text-align: center;
  font-size: 1rem;
}

/* Information section styling */

.card-text a {
  color: cornflowerblue;
}

/* Courses section styling */
.learning-mobile {
  border: 1px solid silver;
}

@media only screen and (min-width: 470px) {
  /* Hide mobile only elements */
  .header-mobile, .cards-mobile, .learning-mobile {
    display: none;
  }

  /* Display desktop only elements */
  .show {
    display: block;
  }

  /* Display and alignment styling */
  .flex-h {
    display: flex;
  }

  .flex-v {
    display: flex;
    flex-direction: column;
  }

  .justify-bet {
    justify-content: space-between;
  }

  .justify-c {
    justify-content: center;
  }

  .align-c {
    align-items: center;
  }

  .wrap {
    flex-wrap: wrap;
  }

  .pad-b-4 {
    padding-bottom: 4rem;
  }

  .pad-t-2 {
    padding-top: 2rem;
  }

  .pad-ri-2 {
    padding-right: 2rem;
  }

  .pad-b-2 {
    padding-bottom: 2rem;
  }

  .pad-le-2 {
    padding-left: 2rem;
  }

  .pad-t-15 {
    padding-top: 1.5rem;
  }

  .pad-ri-15 {
    padding-right: 1.5rem;
  }

  .pad-b-15 {
    padding-bottom: 1.5rem;
  }

  .pad-le-15 {
    padding-left: 1.5rem;
  }

  .pad-t-1 {
    padding-top: 1rem;
  }

  .pad-ri-1 {
    padding-right: 1rem;
  }

  .pad-b-1 {
    padding-bottom: 1rem;
  }

  .pad-le-1 {
    padding-left: 1rem;
  }

  .pad-b-5 {
    padding-bottom: 0.5rem;
  }

  .big-column {
    max-width: calc(60% - 48px);
  }

  .small-column {
    max-width: calc(35% - 32px);
  }

  .practice-image img, .card-image img, .course-image img {
    width: 100%;
  }

  /* Text styling */
  h4 {
    font-size: 1rem;
  }

  h5 {
    font-size: 0.75rem;
  }

  /* Header section styling */
  .header-desktop {
    height: 4rem;
  }

  .logo img {
    height: 50px;
  }

  .logo span {
    font-family: "Nunito Sans";
    font-size: 1.5rem;
  }

  .logo span:first-of-type {
    font-weight: bold;
    color: black;
  }

  .logo span:last-child {
    color: silver;
    font-weight: 300;
  }

  /* Information section styling */
  .cards-desktop {
    border-left: 1px solid silver;
  }

  .cards-desktop .card2 {
    border-top: 1px solid silver;
  }

  .course {
    width: 25%;
  }

  .course-text {
    background-color: white;
  }

  /* Footer styling */
  footer {
    border-top: 1px solid silver;
  }
}
